{% extends "base.html" %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Search Product</h1>
      <p class="lead text-muted">Search any Amazon product that available</p>
      <form method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" name="search" class="form-control" aria-label="Username">
      </div>
      <p>
        <button type="submit" name="submit" value="search" class="btn btn-primary my-2">Search</button>
      </p>
    </form>
    </div>
  </section>
{% endblock %}